DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

NEXTAUTH_SECRET="generate-with: openssl rand -base64 32"
NEXTAUTH_URL="http://localhost:3000"

VTEX_ACCOUNT_NAME=""
VTEX_ENVIRONMENT="vtexcommercestable"
VTEX_APP_KEY=""
VTEX_APP_TOKEN=""

SFMC_CLIENT_ID=""
SFMC_CLIENT_SECRET=""
SFMC_SUBDOMAIN=""

CRON_SECRET="generate-with: openssl rand -base64 32"
